{
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "description": "Xident age and identity verification API. Server-side calls authenticate with an API key in the X-API-Key header.",
    "title": "Xident API",
    "contact": {},
    "version": "1.0"
  },
  "host": "api.xident.io",
  "basePath": "/",
  "securityDefinitions": {
    "AccountToken": {
      "description": "Xident ID account access token: the access_token that the account sign-in endpoints return, such as POST /verify/v1/accounts/login. Sent together with X-API-Key. Also accepted in the Authorization header with the AccountBearer scheme.",
      "type": "apiKey",
      "name": "X-Account-Token",
      "in": "header"
    },
    "ApiKeyAuth": {
      "description": "Your Xident API key: a secret key (sk_live_ or sk_test_) from your backend, an agent key (ak_live_ or ak_test_), or a public key (pk_live_ or pk_test_) where the endpoint allows one. It can also be sent as Authorization: Bearer <key>, except to GET /verify/v1/requirements/check and GET /verify/v1/events/{type}/{id}/stream, which read only the X-API-Key header.",
      "type": "apiKey",
      "name": "X-API-Key",
      "in": "header"
    },
    "BearerAuth": {
      "description": "A credential in the Authorization header, as Bearer <token>. On every endpoint in this reference that takes an API key, Authorization: Bearer <your API key> works the same as X-API-Key, except GET /verify/v1/requirements/check and GET /verify/v1/events/{type}/{id}/stream, which do not read the Authorization header.",
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    },
    "OAuthBearerAuth": {
      "description": "OAuth 2.0 access token from POST /oauth/token, sent as Authorization: Bearer <access_token>.",
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "paths": {
    "/.well-known/jwks.json": {
      "get": {
        "description": "Returns the public keys used to verify OAuth token signatures. Cached for 1 hour.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "OAuth OIDC"
        ],
        "summary": "Get JSON Web Key Set",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JWKS"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/.well-known/openid-configuration": {
      "get": {
        "description": "Returns the OIDC discovery document with issuer, endpoints, supported scopes, and signing algorithms.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "OAuth OIDC"
        ],
        "summary": "Get OpenID Connect discovery document",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      }
    },
    "/oauth/authorize": {
      "get": {
        "description": "Validates the request, checks for an existing consent, and redirects the user to the Xident consent screen.",
        "tags": [
          "OAuth"
        ],
        "summary": "Start OAuth authorization flow",
        "parameters": [
          {
            "type": "string",
            "description": "OAuth response type (code)",
            "name": "response_type",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "OAuth client ID",
            "name": "client_id",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "Redirect URI after authorization",
            "name": "redirect_uri",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "Requested scopes (space-separated)",
            "name": "scope",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Opaque state value for CSRF protection",
            "name": "state",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Nonce, returned in the ID token so the client can match it to this request",
            "name": "nonce",
            "in": "query"
          },
          {
            "type": "string",
            "description": "PKCE code challenge",
            "name": "code_challenge",
            "in": "query"
          },
          {
            "type": "string",
            "description": "PKCE method (S256)",
            "name": "code_challenge_method",
            "in": "query"
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to consent screen"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/oauth/consent/info": {
      "get": {
        "description": "Returns consent session data (client name, logo, scopes, redirect URI) for the portal consent screen.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "OAuth"
        ],
        "summary": "Get consent session info",
        "parameters": [
          {
            "type": "string",
            "description": "Consent session ID",
            "name": "session",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/oauth/introspect": {
      "post": {
        "description": "Returns token metadata per RFC 7662. Requires client authentication. Returns active/inactive status. Errors from this endpoint use the OAuth 2.0 error body (RFC 6749 section 5.2); a rate limit refusal (429) and a body whose declared Content-Length is over 10 MB (413) use the standard error envelope.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "OAuth"
        ],
        "summary": "Introspect an OAuth token",
        "parameters": [
          {
            "type": "string",
            "description": "Token to introspect",
            "name": "token",
            "in": "formData",
            "required": true
          },
          {
            "type": "string",
            "description": "Client ID (for client_secret_post auth)",
            "name": "client_id",
            "in": "formData"
          },
          {
            "type": "string",
            "description": "Client secret (for client_secret_post auth)",
            "name": "client_secret",
            "in": "formData"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IntrospectionResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "413": {
            "description": "a body whose declared Content-Length is over 10 MB: the standard error envelope (code PAYLOAD_TOO_LARGE), not the RFC 6749 body",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "429": {
            "description": "too many requests: the rate limit answers with the standard error envelope (code TOO_MANY_REQUESTS), not the RFC 6749 body; Retry-After gives the seconds to wait",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/oauth/revoke": {
      "post": {
        "description": "Revokes an access or refresh token per RFC 7009. Requires client authentication. Always returns 200 for valid clients regardless of token validity. Errors from this endpoint use the OAuth 2.0 error body (RFC 6749 section 5.2); a rate limit refusal (429) and a body whose declared Content-Length is over 10 MB (413) use the standard error envelope.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "OAuth"
        ],
        "summary": "Revoke an OAuth token",
        "parameters": [
          {
            "type": "string",
            "description": "Token to revoke",
            "name": "token",
            "in": "formData",
            "required": true
          },
          {
            "type": "string",
            "description": "Token type hint (access_token or refresh_token)",
            "name": "token_type_hint",
            "in": "formData"
          },
          {
            "type": "string",
            "description": "Client ID (for client_secret_post auth)",
            "name": "client_id",
            "in": "formData"
          },
          {
            "type": "string",
            "description": "Client secret (for client_secret_post auth)",
            "name": "client_secret",
            "in": "formData"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "413": {
            "description": "a body whose declared Content-Length is over 10 MB: the standard error envelope (code PAYLOAD_TOO_LARGE), not the RFC 6749 body",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "429": {
            "description": "too many requests: the rate limit answers with the standard error envelope (code TOO_MANY_REQUESTS), not the RFC 6749 body; Retry-After gives the seconds to wait",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/oauth/token": {
      "post": {
        "description": "Supports grant_type=authorization_code and grant_type=refresh_token. Authenticates client via client_secret_post or client_secret_basic. Errors from this endpoint use the OAuth 2.0 error body (RFC 6749 section 5.2); a rate limit refusal (429) and a body whose declared Content-Length is over 10 MB (413) use the standard error envelope.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "OAuth"
        ],
        "summary": "Exchange authorization code or refresh token",
        "parameters": [
          {
            "type": "string",
            "description": "Grant type (authorization_code or refresh_token)",
            "name": "grant_type",
            "in": "formData",
            "required": true
          },
          {
            "type": "string",
            "description": "Authorization code (required for authorization_code grant)",
            "name": "code",
            "in": "formData"
          },
          {
            "type": "string",
            "description": "Redirect URI (must match original request)",
            "name": "redirect_uri",
            "in": "formData"
          },
          {
            "type": "string",
            "description": "Client ID (for client_secret_post auth)",
            "name": "client_id",
            "in": "formData"
          },
          {
            "type": "string",
            "description": "Client secret (for client_secret_post auth)",
            "name": "client_secret",
            "in": "formData"
          },
          {
            "type": "string",
            "description": "PKCE code verifier",
            "name": "code_verifier",
            "in": "formData"
          },
          {
            "type": "string",
            "description": "Refresh token (required for refresh_token grant)",
            "name": "refresh_token",
            "in": "formData"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TokenResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "402": {
            "description": "Payment Required",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "413": {
            "description": "a body whose declared Content-Length is over 10 MB: the standard error envelope (code PAYLOAD_TOO_LARGE), not the RFC 6749 body",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "429": {
            "description": "too many requests: the rate limit answers with the standard error envelope (code TOO_MANY_REQUESTS), not the RFC 6749 body; Retry-After gives the seconds to wait",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/oauth/userinfo": {
      "get": {
        "security": [
          {
            "OAuthBearerAuth": []
          }
        ],
        "description": "Returns user claims based on the scopes granted to the access token. Requires a valid OAuth access token. A missing, invalid or expired token is refused with 401 and the standard error envelope (code UNAUTHORIZED), not the RFC 6749 error body; a valid token whose subject is not an account is refused with 401 and the RFC 6749 body (error invalid_token). A rate limit refusal (429) uses the envelope.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "OAuth"
        ],
        "summary": "Get OIDC user info",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserInfoResponse"
            }
          },
          "401": {
            "description": "missing, invalid or expired access token: the standard error envelope (code UNAUTHORIZED); a valid token whose subject is not an account: the RFC 6749 body (error invalid_token)",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "429": {
            "description": "too many requests: the rate limit answers with the standard error envelope (code TOO_MANY_REQUESTS), not the RFC 6749 body; Retry-After gives the seconds to wait",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/public/v1/careers/apply": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Public"
        ],
        "summary": "Submit a career application",
        "parameters": [
          {
            "type": "string",
            "description": "First name",
            "name": "firstName",
            "in": "formData",
            "required": true
          },
          {
            "type": "string",
            "description": "Last name",
            "name": "lastName",
            "in": "formData",
            "required": true
          },
          {
            "type": "string",
            "description": "Email address",
            "name": "email",
            "in": "formData",
            "required": true
          },
          {
            "type": "string",
            "description": "Phone number",
            "name": "phone",
            "in": "formData"
          },
          {
            "type": "string",
            "description": "Current location",
            "name": "location",
            "in": "formData",
            "required": true
          },
          {
            "type": "string",
            "description": "Position of interest",
            "name": "position",
            "in": "formData",
            "required": true
          },
          {
            "type": "string",
            "description": "Years of experience",
            "name": "experience",
            "in": "formData",
            "required": true
          },
          {
            "type": "string",
            "description": "LinkedIn profile URL",
            "name": "linkedin",
            "in": "formData"
          },
          {
            "type": "string",
            "description": "Portfolio or GitHub URL",
            "name": "portfolio",
            "in": "formData"
          },
          {
            "type": "string",
            "description": "Cover message",
            "name": "message",
            "in": "formData"
          },
          {
            "type": "file",
            "description": "Resume/CV file (PDF, DOC, DOCX \u2014 max 10MB)",
            "name": "cv",
            "in": "formData",
            "required": true
          },
          {
            "type": "file",
            "description": "Cover letter file (PDF, DOC, DOCX \u2014 max 10MB)",
            "name": "coverLetter",
            "in": "formData"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/public/v1/contact": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Public"
        ],
        "summary": "Submit a contact form",
        "parameters": [
          {
            "type": "string",
            "description": "First name",
            "name": "firstName",
            "in": "formData",
            "required": true
          },
          {
            "type": "string",
            "description": "Last name",
            "name": "lastName",
            "in": "formData",
            "required": true
          },
          {
            "type": "string",
            "description": "Email address",
            "name": "email",
            "in": "formData",
            "required": true
          },
          {
            "type": "string",
            "description": "Company name",
            "name": "company",
            "in": "formData"
          },
          {
            "type": "string",
            "description": "Contact reason",
            "name": "reason",
            "in": "formData"
          },
          {
            "type": "string",
            "description": "Message",
            "name": "message",
            "in": "formData",
            "required": true
          },
          {
            "type": "string",
            "description": "Turnstile verification token",
            "name": "cf-turnstile-response",
            "in": "formData"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/public/v1/status": {
      "get": {
        "description": "Returns the operational status of all backend services.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Public"
        ],
        "summary": "Get system status",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/Envelope"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/PublicStatusResponse"
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/public/v1/surveys/{slug}": {
      "get": {
        "description": "Returns the survey schema for rendering. Only active surveys are returned.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Public"
        ],
        "summary": "Get survey schema",
        "parameters": [
          {
            "type": "string",
            "description": "Survey slug",
            "name": "slug",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/public/v1/surveys/{slug}/responses": {
      "post": {
        "description": "Submit answers for a survey. Requires Turnstile verification.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Public"
        ],
        "summary": "Submit survey response",
        "parameters": [
          {
            "type": "string",
            "description": "Survey slug",
            "name": "slug",
            "in": "path",
            "required": true
          },
          {
            "description": "Survey response",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/surveySubmitRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/public/v1/versions": {
      "get": {
        "description": "Returns the version strings for all Xident applications.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Public"
        ],
        "summary": "Get application versions",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/Envelope"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/VersionsResponse"
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/public/v1/waitlist": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Public"
        ],
        "summary": "Subscribe to waitlist",
        "parameters": [
          {
            "description": "Waitlist subscription",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/waitlistSubscribeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/verify/v1/2fa/register": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Stores (or replaces) the face embedding for one of your users. Async: poll GET /2fa/status/{challenge_id}. Registration is free of charge.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "SDK 2FA"
        ],
        "summary": "Register a face for 2FA",
        "parameters": [
          {
            "description": "User id + base64 face image",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/face2FASubmitRequest"
            }
          },
          {
            "$ref": "#/parameters/XApiVersion"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/verify/v1/2fa/status/{id}": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Poll the result of a register or verify call. Returns pass/fail plus a failure reason taxonomy \u2014 never confidence scores or biometric data.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "SDK 2FA"
        ],
        "summary": "Get face 2FA challenge status",
        "parameters": [
          {
            "type": "string",
            "description": "Challenge ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "$ref": "#/parameters/XApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/verify/v1/2fa/users/{user_id}": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Returns whether one of your users has a face enrolled for 2FA. Only your own users are visible.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "SDK 2FA"
        ],
        "summary": "Check whether a user has a 2FA face enrolled",
        "parameters": [
          {
            "type": "string",
            "description": "Your user identifier",
            "name": "user_id",
            "in": "path",
            "required": true
          },
          {
            "$ref": "#/parameters/XApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Hard-deletes the stored embedding. Idempotent \u2014 returns 200 whether or not an enrollment existed.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "SDK 2FA"
        ],
        "summary": "Delete a user's 2FA face enrollment (GDPR)",
        "parameters": [
          {
            "type": "string",
            "description": "Your user identifier",
            "name": "user_id",
            "in": "path",
            "required": true
          },
          {
            "$ref": "#/parameters/XApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/verify/v1/2fa/verify": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "1:1 comparison of the submitted face against the user's enrolled embedding, server-side. Async: poll GET /2fa/status/{challenge_id} for pass/fail.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "SDK 2FA"
        ],
        "summary": "Verify a face against the enrolled 2FA embedding",
        "parameters": [
          {
            "description": "User id + base64 face image",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/face2FASubmitRequest"
            }
          },
          {
            "$ref": "#/parameters/XApiVersion"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/verify/v1/accounts/connections": {
      "get": {
        "security": [
          {
            "AccountToken": [],
            "ApiKeyAuth": []
          }
        ],
        "description": "Always returns an empty list: connected sites are no longer recorded.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Accounts"
        ],
        "summary": "List connected sites",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/Envelope"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/connectionDTO"
                      }
                    }
                  }
                }
              ]
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/XApiVersion"
          }
        ]
      }
    },
    "/verify/v1/accounts/login": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Authenticate an end user with email and password. Returns JWT access/refresh tokens and account info. Optionally checks whether the user has a verified age bracket of at least min_age.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Accounts"
        ],
        "summary": "Login to Xident account",
        "parameters": [
          {
            "description": "Login credentials",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/accountLoginRequest"
            }
          },
          {
            "$ref": "#/parameters/XApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/Envelope"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/accountLoginResponse"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/verify/v1/accounts/me": {
      "get": {
        "security": [
          {
            "AccountToken": [],
            "ApiKeyAuth": []
          }
        ],
        "description": "Returns the authenticated account's profile information and verified age brackets. Requires account JWT via X-Account-Token header.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Accounts"
        ],
        "summary": "Get current account profile",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/XApiVersion"
          }
        ]
      },
      "delete": {
        "security": [
          {
            "AccountToken": [],
            "ApiKeyAuth": []
          }
        ],
        "description": "Permanently deletes the authenticated account and all associated data including passkeys, verified ages, and site connections. This action cannot be undone. Implements GDPR Art. 17 right to erasure.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Accounts"
        ],
        "summary": "Delete Xident account",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/XApiVersion"
          }
        ]
      }
    },
    "/verify/v1/accounts/passkey/authenticate/begin": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Starts a discoverable credential (WebAuthn) ceremony for conditional UI or hybrid passkey login. Returns assertion options and a session ID for the finish step.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Account Passkeys"
        ],
        "summary": "Begin passkey authentication",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/XApiVersion"
          }
        ]
      }
    },
    "/verify/v1/accounts/passkey/authenticate/finish": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Completes the discoverable credential ceremony by validating the authenticator response. Returns JWT access/refresh tokens on success. The request body is the raw WebAuthn assertion and carries nothing else, so the session ID from authenticate/begin travels in the X-Session-ID header.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Account Passkeys"
        ],
        "summary": "Finish passkey authentication",
        "parameters": [
          {
            "type": "string",
            "description": "Session ID from authenticate/begin",
            "name": "X-Session-ID",
            "in": "header",
            "required": true
          },
          {
            "$ref": "#/parameters/XApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/Envelope"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/accountLoginResponse"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/verify/v1/accounts/passkey/register/begin": {
      "post": {
        "security": [
          {
            "AccountToken": [],
            "ApiKeyAuth": []
          }
        ],
        "description": "Starts a WebAuthn credential creation ceremony for the authenticated account. Returns creation options and a session ID for the finish step. Requires account JWT via X-Account-Token header.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Account Passkeys"
        ],
        "summary": "Begin passkey registration",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/XApiVersion"
          }
        ]
      }
    },
    "/verify/v1/accounts/passkey/register/finish": {
      "post": {
        "security": [
          {
            "AccountToken": [],
            "ApiKeyAuth": []
          }
        ],
        "description": "Completes the WebAuthn credential creation ceremony by validating the authenticator response and storing the new passkey. The request body is the raw WebAuthn attestation and carries nothing else, so the session ID from register/begin travels in the X-Session-ID header. Optional X-Passkey-Name header to name the passkey. Requires account JWT via X-Account-Token header.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Account Passkeys"
        ],
        "summary": "Finish passkey registration",
        "parameters": [
          {
            "type": "string",
            "description": "Session ID from register/begin",
            "name": "X-Session-ID",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Friendly name for the passkey (default: My Passkey)",
            "name": "X-Passkey-Name",
            "in": "header"
          },
          {
            "$ref": "#/parameters/XApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/Envelope"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/accountPasskeyDTO"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/verify/v1/accounts/passkeys": {
      "get": {
        "security": [
          {
            "AccountToken": [],
            "ApiKeyAuth": []
          }
        ],
        "description": "Returns all registered passkeys for the authenticated account, including platform, browser, sign count, and last-used timestamps. Requires account JWT via X-Account-Token header.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Account Passkeys"
        ],
        "summary": "List account passkeys",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/Envelope"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/accountPasskeyDTO"
                      }
                    }
                  }
                }
              ]
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/XApiVersion"
          }
        ]
      }
    },
    "/verify/v1/accounts/passkeys/{id}": {
      "delete": {
        "security": [
          {
            "AccountToken": [],
            "ApiKeyAuth": []
          }
        ],
        "description": "Removes a registered passkey from the authenticated account. The passkey must belong to the account. Requires account JWT via X-Account-Token header.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Account Passkeys"
        ],
        "summary": "Delete a passkey",
        "parameters": [
          {
            "type": "integer",
            "description": "Passkey ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "$ref": "#/parameters/XApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/verify/v1/accounts/quick-register": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Accounts"
        ],
        "summary": "Quick register (email only)",
        "parameters": [
          {
            "description": "Quick register",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/quickRegisterRequest"
            }
          },
          {
            "$ref": "#/parameters/XApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/verify/v1/accounts/register": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Create a new Xident account with email and optional password. If session_id is provided, links the verification session to the new account. Returns JWT tokens.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Accounts"
        ],
        "summary": "Register a new Xident account",
        "parameters": [
          {
            "description": "Registration details",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/accountRegisterRequest"
            }
          },
          {
            "$ref": "#/parameters/XApiVersion"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/Envelope"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/accountLoginResponse"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/verify/v1/accounts/reuse": {
      "post": {
        "security": [
          {
            "AccountToken": [],
            "ApiKeyAuth": []
          }
        ],
        "description": "Completes the session if the signed-in account already holds an unexpired age bracket satisfying the site's minimum age. Returns 409 when it does not, and the caller must run a normal verification.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Accounts"
        ],
        "summary": "Reuse a verified Xident ID for a session",
        "parameters": [
          {
            "description": "Session to complete",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/accountReuseRequest"
            }
          },
          {
            "$ref": "#/parameters/XApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/Envelope"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/accountReuseResponse"
                    }
                  }
                }
              ]
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/verify/v1/blacklist": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Paginated list of the tenant's active blacklist entries. Embeddings are never returned.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "SDK Blacklist"
        ],
        "summary": "List your face blacklist entries",
        "parameters": [
          {
            "type": "integer",
            "default": 1,
            "description": "Page number",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 20,
            "description": "Items per page",
            "name": "per_page",
            "in": "query"
          },
          {
            "$ref": "#/parameters/XApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/verify/v1/blacklist/image": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Extracts the face embedding from the supplied image server-side and blacklists it. Async \u2014 the entry appears in the list once processed.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "SDK Blacklist"
        ],
        "summary": "Blacklist the face in an image",
        "parameters": [
          {
            "description": "Base64 image + reason",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/blacklistAddImageRequest"
            }
          },
          {
            "$ref": "#/parameters/XApiVersion"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/verify/v1/blacklist/session": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Blacklists the face of the person who completed one of YOUR terminal DOCUMENT verification sessions. Works for as long as your data retention setting keeps the session's face embedding (at most 12 months, chosen in the dashboard under Settings > Data retention); after that the embedding is permanently deleted. Browser-only sessions never capture a face and are rejected with SESSION_HAS_NO_FACE_DATA; sessions past retention are rejected with SESSION_FACE_DATA_EXPIRED. Async \u2014 the entry appears in the list once processed.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "SDK Blacklist"
        ],
        "summary": "Blacklist the person from a verification session",
        "parameters": [
          {
            "description": "Session token + reason",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/blacklistAddSessionRequest"
            }
          },
          {
            "$ref": "#/parameters/XApiVersion"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/verify/v1/blacklist/{id}": {
      "delete": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Deactivates one of the tenant's blacklist entries (un-ban). The audit row survives; retention hard-deletes deactivated biometric data later.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "SDK Blacklist"
        ],
        "summary": "Remove a blacklist entry",
        "parameters": [
          {
            "type": "integer",
            "description": "Blacklist entry ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "$ref": "#/parameters/XApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/verify/v1/branding": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Returns the tenant's branding customization for the verification widget. Authenticated via API key.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "SDK"
        ],
        "summary": "Get branding for verify widget",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/XApiVersion"
          }
        ]
      }
    },
    "/verify/v1/countries": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "SDK"
        ],
        "summary": "List supported countries and doc-type availability for the verify widget",
        "parameters": [
          {
            "type": "string",
            "description": "europe | templates | all (default: europe)",
            "name": "scope",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/verify/v1/countries/{code}/document-types": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "SDK"
        ],
        "summary": "Enabled document types for a country",
        "parameters": [
          {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 code, e.g. DE",
            "name": "code",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/Envelope"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/countryDocumentTypesResponseDTO"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/verify/v1/events/{type}/{id}/stream": {
      "get": {
        "description": "Opens an SSE connection for session or OCR status events. Send your public key (pk_live_ or pk_test_) in the X-API-Key header; a secret key is refused with 401. This endpoint does not read Authorization: Bearer, and never put a key in the URL.",
        "produces": [
          "text/event-stream"
        ],
        "tags": [
          "events"
        ],
        "summary": "Subscribe to real-time events",
        "parameters": [
          {
            "type": "string",
            "description": "Event type (session or ocr)",
            "name": "type",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Resource ID (session_id or task_id)",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "your public key (pk_live_ or pk_test_); this endpoint reads only this header, not Authorization: Bearer",
            "name": "X-API-Key",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "SSE event stream",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "INVALID_STREAM_TYPE or MISSING_ID",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "401": {
            "description": "missing, invalid or expired public key, or a secret key",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "404": {
            "description": "no such session or OCR task for this API key's tenant",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "503": {
            "description": "the server is at capacity; retry later",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/verify/v1/face/enroll": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Queues a face enrollment job for a user. The face image is processed asynchronously.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "SDK"
        ],
        "summary": "Enroll face for recognition (deprecated \u2014 use /2fa/register)",
        "deprecated": true,
        "parameters": [
          {
            "description": "Face enrollment request",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnrollRequestDTO"
            }
          },
          {
            "$ref": "#/parameters/XApiVersion"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/verify/v1/feedback": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Widget Feedback"
        ],
        "summary": "Submit widget feedback",
        "parameters": [
          {
            "description": "Feedback",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/widgetFeedbackRequest"
            }
          },
          {
            "$ref": "#/parameters/XApiVersion"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/verify/v1/handoff/{token}": {
      "get": {
        "description": "Needs no API key: the handoff token is the credential. Single use: the token is spent atomically on the first call, the session is marked as handed off to mobile, the waiting desktop is notified over SSE, and the phone receives the session's full verification context.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "SDK"
        ],
        "summary": "Redeem a QR-handoff token",
        "parameters": [
          {
            "type": "string",
            "description": "Handoff token",
            "name": "token",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/Envelope"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/HandoffClaimDTO"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/verify/v1/init": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Exchange API key + verification params for a short-lived init token",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Verify Init"
        ],
        "summary": "Create init token",
        "parameters": [
          {
            "description": "Init parameters",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createInitRequest"
            }
          },
          {
            "$ref": "#/parameters/XApiVersion"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/Envelope"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/createInitResponse"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/verify/v1/init/{token}": {
      "get": {
        "description": "Exchange a one-time init token for verification config (public \u2014 no auth)",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Verify Init"
        ],
        "summary": "Redeem init token",
        "parameters": [
          {
            "type": "string",
            "description": "Init token",
            "name": "token",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/Envelope"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/InitParams"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/verify/v1/liveness/challenge": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Creates a new liveness challenge with random actions the user must perform.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "SDK"
        ],
        "summary": "Get liveness challenge",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/XApiVersion"
          }
        ]
      }
    },
    "/verify/v1/liveness/verify": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Submits the movement evidence for a previously issued challenge: the head pose trajectory (numbers only, no images). The server checks that the head turned in the issued order and completes the challenge. The result counts for a session only after PATCH /verify/v1/sessions/{id}/liveness attaches the challenge to it. A challenge can be answered once: a 200 answer uses it up, and so does a 400 INVALID_TRAJECTORY or DURATION_TOO_SHORT, so get a new challenge from GET /verify/v1/liveness/challenge before trying again. The frames field is accepted and ignored; do not send images. A request is refused with 400 INVALID_TRAJECTORY unless pose_trajectory has 20 to 2000 samples, each with t, yaw and pitch; t (in milliseconds) is not negative (any start value) and never decreasing; the samples cover at least 20 distinct t values; the last t minus the first is 1500 to 300000; and two samples with the same t have the same yaw and pitch. A value of the wrong JSON type, such as a t that is not a whole number or a yaw given as a string, is refused before the challenge is read, with 400 INVALID_REQUEST, and does not use up the challenge. A null t, yaw or pitch is not a type error: it is a refused trajectory, 400 INVALID_TRAJECTORY, and uses the challenge up.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "SDK"
        ],
        "summary": "Verify liveness challenge",
        "parameters": [
          {
            "description": "Liveness verification request",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VerifyRequest"
            }
          },
          {
            "$ref": "#/parameters/XApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "410": {
            "description": "Gone",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/verify/v1/ocr/presign": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Generates presigned S3 URLs for uploading document images and selfies for OCR processing.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "SDK"
        ],
        "summary": "Get presigned upload URLs for typed files",
        "parameters": [
          {
            "description": "Presign request with typed files",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PresignRequestDTO"
            }
          },
          {
            "$ref": "#/parameters/XApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/verify/v1/ocr/status/{task_id}": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Returns the current status of an OCR processing task, including results when complete.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "SDK"
        ],
        "summary": "Poll OCR task status",
        "parameters": [
          {
            "type": "string",
            "description": "OCR Task ID",
            "name": "task_id",
            "in": "path",
            "required": true
          },
          {
            "$ref": "#/parameters/XApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/verify/v1/ocr/verify-urls": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Confirms that documents have been uploaded and queues the OCR processing job. File keys are read from the presign record.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "SDK"
        ],
        "summary": "Verify uploaded document URLs and start OCR processing",
        "parameters": [
          {
            "description": "Verify URLs request",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VerifyURLsRequestDTO"
            }
          },
          {
            "$ref": "#/parameters/XApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/verify/v1/optical/upload": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Submits a flash-pair or tilt-sequence capture of the document for the optical security feature (hologram) checks. The result is stored on the session and counts toward the document verification. A capture whose capture proof fails is refused.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Verify Optical"
        ],
        "summary": "Upload an optical capture (flash-pair or tilt-sequence)",
        "parameters": [
          {
            "description": "Optical capture payload",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/uploadRequest"
            }
          },
          {
            "$ref": "#/parameters/XApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/Envelope"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/uploadResponse"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "412": {
            "description": "Precondition Failed",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/verify/v1/requirements": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Determines which verification methods are required using the authenticated API key.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "SDK"
        ],
        "summary": "Check verification requirements (authenticated)",
        "parameters": [
          {
            "type": "string",
            "description": "expected_ref from the redeemed init token (data match): links the identity data the site owner sent as expected to the new session",
            "name": "expected_ref",
            "in": "query"
          },
          {
            "$ref": "#/parameters/XApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/verify/v1/requirements/check": {
      "get": {
        "description": "Determines which verification methods are required based on your public key and the user's location. Send your public key (pk_live_ or pk_test_) in the X-API-Key header; a secret key is refused with 401.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "SDK"
        ],
        "summary": "Check verification requirements (public)",
        "parameters": [
          {
            "type": "string",
            "description": "your public key (pk_live_ or pk_test_); this endpoint reads only this header, not Authorization: Bearer",
            "name": "X-API-Key",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "External user ID for retry tracking",
            "name": "user_id",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "expected_ref from the redeemed init token (data match): links the identity data the site owner sent as expected to the new session",
            "name": "expected_ref",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/verify/v1/result/{token}": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Returns the verification verdict for a session, as the site owner's secret key sees it. `status` is a VERDICT, not a lifecycle marker: `success` means the user PASSED. A session that ran to the end of the flow but missed the age threshold is `failed`, with `reason` explaining why. Possible `status` values: `pending`, `in_progress`, `success`, `failed`, `canceled` (single L), `expired`, `pending_tenant_review`, `awaiting_retake`, `retaken`. Linking a portal account (Xident ID) to a passed verification does not change its status: it stays `success`. `external_user_id` echoes the `user_id` supplied at init so the session can be correlated to your own user server-side \u2014 do not correlate on the browser callback, which is unsigned. Requires a server-side credential: a secret key (`sk_live_` or `sk_test_`), an agent key (`ak_live_` or `ak_test_`), or an agent OAuth access token (`xat_`). An agent key or access token needs the `verification:read` scope. A public key gets 403 SECRET_KEY_REQUIRED. This is the ONE tenant-facing shape: identical regardless of caller, and mirrored verbatim into every webhook's `data` field.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "SDK"
        ],
        "summary": "Get verification session result (tenant)",
        "parameters": [
          {
            "type": "string",
            "description": "Verification RESULT token (xtk_ prefixed) \u2014 NOT the xit_ init token",
            "name": "token",
            "in": "path",
            "required": true
          },
          {
            "$ref": "#/parameters/XApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/Envelope"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/TenantResult"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/verify/v1/review-request": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Submit a failed verification for human review. Requires document uploads.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Widget Review"
        ],
        "summary": "Request human review",
        "parameters": [
          {
            "description": "Review request",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/reviewRequest"
            }
          },
          {
            "$ref": "#/parameters/XApiVersion"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/verify/v1/sessions/{id}/age-estimation": {
      "patch": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Stores client-side age estimation result on the verification session. The measurement fields (inference_run_id, model_sha, threshold_table_id, policy_version, align_id, widget_build, frames, threshold, outcome) are optional and never change the verdict. A measurement value of the wrong type or outside its documented limits is ignored: the request still succeeds and that value is not stored. A missing or ignored inference_run_id is replaced by an ID the server derives from the result, so a retransmission of the same result is stored once.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "SDK"
        ],
        "summary": "Update session with age estimation result",
        "parameters": [
          {
            "type": "string",
            "description": "Session ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "description": "Age estimation result",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AgeEstimationResultDTO"
            }
          },
          {
            "$ref": "#/parameters/XApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/verify/v1/sessions/{id}/complete": {
      "patch": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Marks a session as completed or failed. Records usage event and dispatches webhook.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "SDK"
        ],
        "summary": "Complete a verification session",
        "parameters": [
          {
            "type": "string",
            "description": "Session ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "description": "Completion data",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompleteSessionDTO"
            }
          },
          {
            "$ref": "#/parameters/XApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/verify/v1/sessions/{id}/files": {
      "delete": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Deletes all S3 files associated with a verification session (e.g., when user declines consent).",
        "produces": [
          "application/json"
        ],
        "tags": [
          "SDK"
        ],
        "summary": "Delete session files",
        "parameters": [
          {
            "type": "string",
            "description": "Session ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "$ref": "#/parameters/XApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/verify/v1/sessions/{id}/handoff-token": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Issues a short-lived, single-use token for the desktop's QR code. The QR carries this token and nothing else \u2014 no api_key, no callback_url, no user_id. Tenant-scoped: a tenant can only mint for its own sessions.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "SDK"
        ],
        "summary": "Mint a QR-handoff token",
        "parameters": [
          {
            "type": "string",
            "description": "Session ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "$ref": "#/parameters/XApiVersion"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/Envelope"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/MintHandoffTokenDTO"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/verify/v1/sessions/{id}/liveness": {
      "patch": {
        "security": [
          {
            "ApiKeyAuth": []
          }
[...]
